*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(57, 123, 229);
}
#container{
    width: 750px;
    height: 750px;
    border: 1px solid black;
    margin: 3rem auto;
    background-color: rgb(255, 153, 0);
}

#grid{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(57, 123, 229);
}

.bg-blue{
    background-color: darkblue;
}